<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <title>Crystal Palace FC - E@gle Membership</title>
        <meta name="description" content="">

        <link rel="apple-touch-icon" href="../assets/images/favicon_iphone.png">
        <link rel="shortcut icon" href="../assets/images/favicon.ico">

        <link rel="stylesheet" href="../style.css">
        <!--[if lte IE 8]><link rel="stylesheet" href="../assets/styles/ie.css" /><![endif]-->
        <script src="../bower_components/modernizr/modernizr.js"></script>
    </head>    

    <body>

    <div id="sb-site" class="bg-gradient">

        <section class="fullwidth-np cookie" id="cookie-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-sm-9">
                        <p>Sed ut perspiciatis unde omnis iste natus error sit aperiam, eaque ipsa quae ab illo inventore eritatis et quasi.</p>
                    </div> 
                    <div class="col-sm-3">
                        
                        <a href="?"><i class="icon-cancel-1"></i></a>
                        <a href="#" class="btn">Cookie Policy</a> 
                    </div>
                </div>
            </div>
        </section>

        <header class="header logged-out">

            <div class="login-panel">
                <div class="container">
                    <form class="login">
                        <fieldset>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-block-wrap form-group">
                                        <label for="email" class="control-label hidden">Email *</label>
                                        <input class="form-control" type="text" name="email" id="email" placeholder="Your email" data-bv-notempty="true" data-bv-notempty-message="The email address is required and cannot be empty" data-bv-emailaddress="true" data-bv-emailaddress-message="The email address is not valid" />
                                    </div>
                                    
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-block-wrap form-group">
                                        <label for="password" class="control-label hidden">Password *</label>
                                        <input class="form-control" type="password" name="password" id="password" placeholder="Your password" data-bv-notempty="true" data-bv-notempty-message="A password is required and cannot be empty" data-bv-identical="true" data-bv-identical-field="confirmPassword" data-bv-identical-message="Passwords do not match" data-bv-different="true" data-bv-different-field="username" data-bv-different-message="The password cannot be the same as username" />
                                        <div class="form-copy">
                                            <a href="#">Forgotten your password?</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-copy logged">
                                        <label>Keep me logged in</label>
                                        <input type="checkbox" checked />
                                    </div>
                                    <div class="form-group submit">
                                        <input type="submit" class="btn" value="Login" />
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                    <a href="#" class="login-btn"><span>Log in</span></a>
                </div>
            </div>

            <div class="container">
                <a href="/" class="logo"><img src="../assets/images/logo.png" alt="Crystal Palace"></a>
            </div>
        </header> 

        <!-- <header class="header logged-in">

            <div class="container">
                <a href="/" class="logo"><img src="../assets/images/logo.png" alt="Crystal Palace"></a>

                <nav class="login">
                    <ul>
                        <li class="login-name dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown"><a href="">Olly <i class="icon-down-dir"></i></a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                <li><a href="">My Details</a></li>
                            </ul>


                        </li>
                        <li class="logout"><a href="">Logout</a></li>
                    </ul>
                </nav>                
            </div>

            <nav class="nav nav-primary full-width">
                <div class="container">
                    <ul>
                        <li><a href="index.html" class="active">Crystal Palace FC</a></li>
                        <li><a href="about.html">Memberships</a></li>
                        <li><a href="news.html">Club Shop</a></li>
                        <li><a href="events.html">Online Tickets</a></li>
                    </ul>
                </div>
            </nav>

        </header>  -->

        <!-- <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                Dropdown
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
            </ul>
        </div> -->

        <section class="fullwidth-bg hero" style="background-image:url(../assets/images/hero-bg.png)">
            <div class="container">

                <a href=""><img src="../assets/images/hero-img.png" alt="" class="img-responsive" /></a>
            </div>
        </section>

        <div class="content logged-out">

            <div class="container">

            <section class="fullwidth content-padding">

                <div class="intro">
                    <p>The new <strong>2014/15 E@gles membership</strong> is available to fans from all over the world and will deliver direct to you exclusive <strong>player interviews</strong>, <strong>Club promotions, unseen video content, manager reviews</strong> and even a <strong>custom news alert</strong> so that you can stay fully up to date with what’s going on with the team.</p>
            
                 </div>

                <div class="articles-shorts">
                    <div class="header-contain">
                         <h1 class="heading header-left header-right">Member Benefits</h1>
                         <hr />
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="benefits item">
                                <div class="row">
                                    <div class="col-sm-6 col-sm-push-6">
                                        <img src="../assets/images/article-video.jpg" alt="" class="img-responsive" />
                                    </div>
                                    <div class="col-sm-6 col-sm-pull-6">
                                        <h2>Exclusive video content</h2>
                                        <p>All E@gles members will have <a href="#">access to exclusive video content</a>, at the click of a button you will be able to <a href="#">see behind the scenes footage</a> and <a href="#">never before seen content</a>.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="benefits item">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <img src="../assets/images/article-interview.jpg" alt="" class="img-responsive" />
                                    </div>
                                    <div class="col-sm-6">
                                        <h2>Exclusive interviews</h2>
                                        <p>All E@gles members will have <a href="#">access to exclusive video content</a>, at the click of a button you will be able to <a href="#">see behind the scenes footage</a> and <a href="#">never before seen content</a>.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="benefits item">
                                <div class="row">
                                    <div class="col-sm-6 col-sm-push-6">
                                        <img src="../assets/images/article-reviews.jpg" alt="" class="img-responsive" />
                                    </div>
                                    <div class="col-sm-6 col-sm-pull-6">
                                        <h2>Monthly Manager Reviews</h2>
                                        <p>All E@gles members will have <a href="#">access to exclusive video content</a>, at the click of a button you will be able to <a href="#">see behind the scenes footage</a> and <a href="#">never before seen content</a>.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="footer-article item">
                                <img src="../assets/images/e-cert.jpg" alt="" class="img-responsive" />
                                <h3>E-certificate Membership</h3>
                                <p>All E@gles members will have <a href="#">access to exclusive video content</a>, at the click of a button you will be able to <a href="#">see behind the scenes footage</a> and <a href="#">never before seen content</a>.</p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                             <div class="footer-article item">
                                <img src="../assets/images/club-offers.jpg" alt="" class="img-responsive" />
                                <h3>Regular Club Offers</h3>
                                <p>All E@gles members will have <a href="#">access to exclusive video content</a>, at the click of a button you will be able to <a href="#">see behind the scenes footage</a> and <a href="#">never before seen content</a>.</p>
                            </div>
                        </div>
                         <div class="col-sm-4">
                             <div class="footer-article item">
                                <img src="../assets/images/news-alerts.jpg" alt="" class="img-responsive" />
                                <h3>Custom News Alert</h3>
                                <p>All E@gles members will have <a href="#">access to exclusive video content</a>, at the click of a button you will be able to <a href="#">see behind the scenes footage</a> and <a href="#">never before seen content</a>.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </section>

        </div>

        <section class="full-width register-promo">
            <div class="container"> 
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <h3>Sign up for a free Crystal Palace FC <strong>E@gles Membership</strong> today</h3>
                        <a href="" class="btn register">Register <i class="icon-right-1"></i></a>
                    </div>
                </div>
            </div>
        </section>

        <section class="full-width bg-grey footer-logos">
            <div class="container"> 
                <ul>
                    <li><a href=""><img src="../assets/images/neteller.png" class="img-responsive" alt=""></a></li>
                    <li><a href=""><img src="../assets/images/macron.png" class="img-responsive" alt=""></a></li>
                    <li><a href=""><img src="../assets/images/barclays.png" class="img-responsive" alt=""></a></li>
                </ul>
            </div>
        </section>

    </div>

<!-- Footer -->   
        <footer class="fullwidth-sm footer">
            <div class="container">

                <div class="row">

                    <div class="col-sm-6 col-sm-offset-3">
                        <nav class="nav nav-inline nav-footer">
                            <li>Crystal Palace FC</li>
                            <li><a href="#">Terms &amp; Conditions</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </nav>
                        <p>&copy; Crystal Palace FC 2015 </p>
                    </div>

                    <div class="col-sm-3">
                        
                    </div>

                </div>
            </div>
        </footer>

    </div> <!-- end sb-site -->


      <!-- Mobile slidebar content -->
    <div class="sb-slidebar sb-right background-brand">
            <div class="close sb-toggle-right">
                <i class="icon-cancel-1"></i>
            </div>

            <nav class="nav">
                <ul>
                    <li><a href="index.html" class="active">Crystal Palace FC</a></li>
                    <li><a href="about.html">Memberships</a></li>
                    <li><a href="news.html">Club Shop</a></li>
                    <li><a href="events.html">Online Tickets</a></li>
                </ul>
                <ul>
                    <li><a href="">Oliver Morrison</a></li>
                    <li><a href="">My Details</a></li>
                    <li><a href="">Logout</a></li>
                </ul>
            </nav>

        </div>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../bower_components/jquery/dist/jquery.min.js"><\/script>')</script>

    <!-- build:js assets/scripts/plugins.js -->   
    <script src="../bower_components/jquery-cycle2/build/jquery.cycle2.min.js"></script>
    <script src="../bower_components/jquery-cycle2/build/plugin/jquery.cycle2.swipe.min.js"></script>
    <script src="../bower_components/SimpleStateManager/dist/ssm.min.js"></script>

    <script src="../bower_components/respond/dest/respond.min.js"></script> 

    <script src="../assets/scripts/cookies.min.js"></script>
    <script src="../assets/scripts/bootstrapValidator.min.js"></script>

    <script src="../assets/scripts/slidebars.min.js"></script>
    <script src="../assets/scripts/jquery.colorbox-min.js"></script>
    <!-- endbuild -->

    <script src="../assets/scripts/plugins.js"></script>
    <script src="../assets/scripts/main.js"></script>

    </body>
</html>