<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Crystal Palace FC - E@gle Membership</title>
    <meta name="description" content="">

    <link rel="apple-touch-icon" href="../assets/images/favicon_iphone.png">
    <link rel="shortcut icon" href="../assets/images/favicon.ico">

    <link rel="stylesheet" href="../style.css">
    <!--[if lte IE 8]><link rel="stylesheet" href="../assets/styles/ie.css" /><![endif]-->
    <script src="../bower_components/modernizr/modernizr.js"></script>
</head>

<body class="bg-gradient">

    <div id="sb-site">

        <!-- Main Nav -->
        <section class="fullwidth-np cookie" id="cookie-wrapper">
            <div class="container">
                Sed ut perspiciatis unde omnis iste natus error sit aperiam, eaque ipsa quae ab illo inventore eritatis et quasi. <a href="#">View Cookie Policy</a>
                <a href="?" class="close">&times;</a>
            </div>
        </section>

        <header class="header logged-in">

            <div class="container">
                <a href="/" class="logo"><img src="../assets/images/logo.png" alt="Crystal Palace"></a>

                <nav class="login hidden-xs">
                    <ul>
                        <li class="login-name dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown"><a href="">Olly <i class="icon-down-dir"></i></a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                <li><a href="">My Details</a></li>
                            </ul>
                        </li>
                        <li class="logout"><a href="">Logout</a></li>
                    </ul>
                </nav>

                <div class="burger sb-toggle-right visible-xs">
                    <i class="icon-menu"></i>
                </div>
            </div>

            <nav class="nav nav-primary full-width">
                <div class="container">
                    <ul>
                        <li><a href="index.html" class="active">Crystal Palace FC</a></li>
                        <li><a href="about.html">Memberships</a></li>
                        <li><a href="news.html">Club Shop</a></li>
                        <li><a href="events.html">Online Tickets</a></li>
                    </ul>
                </div>
            </nav>

        </header>

         <!-- 404 -->
        <section class="fullwidth fourzerofour">
         <div class="container">
                <div class="row">

                    <div class="col-sm-9 col-sm-offset-3">
                        <h1>Templates List</h1>
                        <ul>
                            <li><a href="home.html">Home page - logged out</a></li>
                            <li><a href="home-loggedin.html">Home page - logged in</a></li>
                            <li><a href="register.html">Register</a></li>
                            <li><a href="verify-registration.html">Verify Registration</a></li>
                            <li><a href="update-details.html">Update Details</a></li>
                            <li><a href="standard-text.html">Standard text</a></li>
                            <li><a href="fourohfour.html">404</a></li>

                        </ul>
                    </div>


                </div>
            </div>
        </section>


        <!-- Footer -->
        <footer class="fullwidth-sm footer">
            <div class="container">
                <div class="row">
                    <nav class="nav nav-inline nav-footer">
                        <li>Crystal Palace FC</li>
                        <li><a href="#">Terms &amp; Conditions</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </nav>
                    <p>&copy; Crystal Palace FC 2015 </p>
                </div>
            </div>
        </footer>

    </div> <!-- end sb-site -->


      <!-- Mobile slidebar content -->
    <div class="sb-slidebar sb-width-thin sb-right bg-brand visible-xs">
        <div class="close sb-toggle-right">
            <i class="icon-cancel-1"></i>
        </div>

        <nav class="nav">
            <ul>
                <li><a href="index.html" class="active">Crystal Palace FC</a></li>
                <li><a href="about.html">Memberships</a></li>
                <li><a href="news.html">Club Shop</a></li>
                <li><a href="events.html">Online Tickets</a></li>
            </ul>
            <ul class="login">
                <li><a href="">Oliver Morrison</a></li>
                <li><a href="">My Details</a></li>
                <li><a href="">Logout</a></li>
            </ul>
        </nav>

    </div>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../bower_components/jquery/dist/jquery.min.js"><\/script>')</script>

    <!-- build:js assets/scripts/plugins.js -->
    <script src="../bower_components/jquery-cycle2/build/jquery.cycle2.min.js"></script>
    <script src="../bower_components/jquery-cycle2/build/plugin/jquery.cycle2.swipe.min.js"></script>
    <script src="../bower_components/SimpleStateManager/dist/ssm.min.js"></script>

    <script src="../bower_components/respond/dest/respond.min.js"></script>

    <script src="../assets/scripts/cookies.min.js"></script>
    <!-- endbuild -->

    <script src="../assets/scripts/slidebars.min.js"></script>
    <script src="../assets/scripts/jquery.colorbox-min.js"></script>

    <script src="../assets/scripts/plugins.js"></script>
    <script src="../assets/scripts/main.js"></script>

    </body>
</html>