<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Crystal Palace FC - E@gle Membership</title>
    <meta name="description" content="">

    <link rel="apple-touch-icon" href="../assets/images/favicon_iphone.png">
    <link rel="shortcut icon" href="../assets/images/favicon.ico">

    <link rel="stylesheet" href="../style.css">
    <!--[if lte IE 8]><link rel="stylesheet" href="../assets/styles/ie.css" /><![endif]-->
    <script src="../bower_components/modernizr/modernizr.js"></script>
</head>    

<body>

    <div id="sb-site" class="bg-gradient">

        <!-- Main Nav -->
        <section class="fullwidth-np cookie" id="cookie-wrapper">
            <div class="container">
                Sed ut perspiciatis unde omnis iste natus error sit aperiam, eaque ipsa quae ab illo inventore eritatis et quasi. <a href="#">View Cookie Policy</a> 
                <a href="?" class="close">&times;</a>
            </div>
        </section>

        <header class="header logged-in">

            <div class="container">
                <a href="/" class="logo"><img src="../assets/images/logo.png" alt="Crystal Palace"></a>

                <nav class="login hidden-xs">
                    <ul>
                        <li class="login-name dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown"><a href="">Olly <i class="icon-down-dir"></i></a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                <li><a href="">My Details</a></li>
                            </ul>
                        </li>
                        <li class="logout"><a href="">Logout</a></li>
                    </ul>
                </nav>   

                <div class="burger sb-toggle-right visible-xs">
                    <i class="icon-menu"></i>
                </div>             
            </div>

            <nav class="nav nav-primary full-width">
                <div class="container">
                    <ul>
                        <li><a href="index.html" class="active">Crystal Palace FC</a></li>
                        <li><a href="about.html">Memberships</a></li>
                        <li><a href="news.html">Club Shop</a></li>
                        <li><a href="events.html">Online Tickets</a></li>
                    </ul>
                </div>
            </nav>

        </header> 

        <div class="content logged-in">

<!--         <section class="welcome">

            <div class="container">
                <p>Welcome back <strong>Olly</strong>. Sed ut perspiciatis unde omnis iste natus error sit.</p>
            </div>      

        </section> -->

        <!-- Hero Video section -->
        <section class="fullwidth header-panel news-exclusive">

            <div class="container">

                <div class="header-left-contain">
                    <h1 class="heading header-right"><span>New exclusive</span></h1>
                    <hr />
                </div>
                <div class="row main-article">
                    <div class="item">

                        <div class="col-sm-5">
                            <img src="../assets/images/placeholders/content.jpg" alt="" class="img-responsive"/>
                        </div>

                        <div class="col-sm-6">
                            <h2><a href="#">Title</a></h2>
                            <span class="published">Published on 17th April 2015</span>
                            <p>Lorem ipsum dolor sit</p>
                            <p><a href="#">Read More <i class="icon-right-1"></i></a></p>
                        </div>

                    </div>
                    
                </div>
                    
                <div class="row">
                    <div class="col-sm-6">
                        <div class="item">
                            <div class="row">
                                <div class="col-sm-5">
                                    <img src="http://cpfc-members.com/wp-content/uploads/2015/04/west-brom-6x461-2396704_478x359.jpg" alt="" class="img-responsive"/>
                                </div>
                                <div class="col-sm-7">
                                    <h4><a href="#">Title</a></h4>
                                    <span class="published">Published on 17th April 2015</span>
                                    <p>Lorem ipsum dolor sit</p>
                                    <p><a href="#">Read More <i class="icon-right-1"></i></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="item">
                            <div class="row">
                                <div class="col-sm-5">
                                    <img src="http://cpfc-members.com/wp-content/uploads/2015/04/west-brom-6x461-2396704_478x359.jpg" alt="" class="img-responsive"/>
                                </div>
                                <div class="col-sm-7">
                                    <h4><a href="#">Title</a></h4>
                                    <span class="published">Published on 17th April 2015</span>
                                    <p>Lorem ipsum dolor sit</p>
                                    <p><a href="#">Read More <i class="icon-right-1"></i></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="fullwidth-bg" style="background-image:url(../assets/images/bg-panel.png)">
            <div class="container">
               <div class="row">
                    <div class="col-sm-6 col-xs-12">

                        <div class="bg-white promo-block promo member">
                            <a href=""><img src="../assets/images/memb.png" alt=""></a>

                            <div class="item">
                                <h3 class="h4"><a href="">Paid Membership</a></h3>
                                <p>Lorem ipsum dolor sit</p>
                                <p class="more"><a href="">Join us today <i class="icon-right-1"></i></a></p>
                                
                            </div>
                   
                        </div>
                    </div>

                     <div class="col-sm-6 col-xs-12">
                        <div class="bg-white promo-block promo calendar">
                            <div class="cal-img">
                                <a href=""><img src="../assets/images/calendar.png" alt=""></a>
                            </div>
                           
                            <div class="item">
                                <h3 class="h4"><a href="">2015 Official Calendar</a></h3>
                                <p>Now available</p>
                                <p class="more"><a href="">Buy now <i class="icon-right-1"></i></a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="fullwidth other-news">
            <div class="container"> 
                <div class="row">
                    <div class="col-sm-12">
                        <div class="header-left-contain">
                            <h1 class="heading header-right"><span>other News</span></h1>
                            <hr />
                        </div>
                        

                        <div class="news item other">
                            <div class="row">
                                <div class="col-sm-3">
                                    <a href=""><img src="http://cpfc-members.com/wp-content/uploads/2015/04/west-brom-6x461-2396704_478x359.jpg" alt="" class="img-responsive" /></a>
                                </div>
                                <div class="col-sm-9">
                                    <h4><a href="">Tonight: Bar Opening Times</a></h4>
                                    <p>CLICK HERE to join the debate in the Crystal Palace v West Bromwich Albion fanzone ahead of this Premier League encounter.ABOUTTony Pulis returns to Selhurst Park for the first time since last May when he oversaw the thrilling 3-3 draw against Liverp...</p>
                                    <span>36 mins ago</span>
                                </div>
                            </div>
                        </div>

                        <div class="news item other">
                            <div class="row">
                                <div class="col-sm-3">
                                    <a href=""><img src="http://cpfc-members.com/wp-content/uploads/2015/04/west-brom-6x461-2396704_478x359.jpg" alt="" class="img-responsive" /></a>
                                </div>
                                <div class="col-sm-9">
                                    <h4><a href="">Tonight: Bar Opening Times</a></h4>
                                    <p>CLICK HERE to join the debate in the Crystal Palace v West Bromwich Albion fanzone ahead of this Premier League encounter.ABOUTTony Pulis returns to Selhurst Park for the first time since last May when he oversaw the thrilling 3-3 draw against Liverp...</p>
                                    <span>36 mins ago</span>
                                </div>
                            </div>
                        </div>

                        <div class="news item other">
                            <div class="row">
                                <div class="col-sm-3">
                                    <a href=""><img src="http://cpfc-members.com/wp-content/uploads/2015/04/west-brom-6x461-2396704_478x359.jpg" alt="" class="img-responsive" /></a>
                                </div>
                                <div class="col-sm-9">
                                    <h4><a href="">Tonight: Bar Opening Times</a></h4>
                                    <p>CLICK HERE to join the debate in the Crystal Palace v West Bromwich Albion fanzone ahead of this Premier League encounter.ABOUTTony Pulis returns to Selhurst Park for the first time since last May when he oversaw the thrilling 3-3 draw against Liverp...</p>
                                    <span>36 mins ago</span>
                                </div>
                            </div>
                        </div>

                        <div class="news item other">
                            <div class="row">
                                <div class="col-sm-3">
                                    <a href=""><img src="http://cpfc-members.com/wp-content/uploads/2015/04/west-brom-6x461-2396704_478x359.jpg" alt="" class="img-responsive" /></a>
                                </div>
                                <div class="col-sm-9">
                                    <h4><a href="">Tonight: Bar Opening Times</a></h4>
                                    <p>CLICK HERE to join the debate in the Crystal Palace v West Bromwich Albion fanzone ahead of this Premier League encounter.ABOUTTony Pulis returns to Selhurst Park for the first time since last May when he oversaw the thrilling 3-3 draw against Liverp...</p>
                                    <span>36 mins ago</span>
                                </div>
                            </div>
                        </div>

                        <div class="news item other">
                            <div class="row">
                                <div class="col-sm-3">
                                    <a href=""><img src="http://cpfc-members.com/wp-content/uploads/2015/04/west-brom-6x461-2396704_478x359.jpg" alt="" class="img-responsive" /></a>
                                </div>
                                <div class="col-sm-9">
                                    <h4><a href="">Tonight: Bar Opening Times</a></h4>
                                    <p>CLICK HERE to join the debate in the Crystal Palace v West Bromwich Albion fanzone ahead of this Premier League encounter.ABOUTTony Pulis returns to Selhurst Park for the first time since last May when he oversaw the thrilling 3-3 draw against Liverp...</p>
                                    <span>36 mins ago</span>
                                </div>
                            </div>
                        </div>

                        
                        
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="load-more">
                            <a class="btn btn-white" href="#">Load More <i class="icon-down-open"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="fullwidth">
            <div class="container">
               <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        
                        <div class="bg-white promo-block buy">
                            <a href=""><img src="../assets/images/basket.png" class="img-responsive" alt=""></a>
                           
                            <div class="item">
                                <h3 class="h4"><a href="">Visit our club shop</a></h3>
                                <p>Lorem ipsum dolor sit</p>
                                <p class="more"><a href="">Book Now <i class="icon-right-1"></i></a></p>
                            </div>
                   
                        </div>
                    </div>

                     <div class="col-sm-6 col-xs-12">
                        <div class="bg-white promo-block buy">
                            <a href=""><img src="../assets/images/ticket.png" class="img-responsive" alt=""></a>
                           
                            <div class="item">
                                <h3 class="h4"><a href="">Buy Tickets</a></h3>
                                <p>Lorem ipsum dolor sit</p>
                                <p class="more"><a href="">Buy Tickets <i class="icon-right-1"></i></a></p>
                                
                            </div>
                   
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="full-width bg-grey footer-logos">
            <div class="container"> 
                <ul>
                    <li><a href=""><img src="../assets/images/neteller.png" class="img-responsive" alt=""></a></li>
                    <li><a href=""><img src="../assets/images/macron.png" class="img-responsive" alt=""></a></li>
                    <li><a href=""><img src="../assets/images/barclays.png" class="img-responsive" alt=""></a></li>
                </ul>
            </div>
        </section>


         <!-- <div class="container">

            <section class="fullwidth content-padding">

                <div class="intro">
                    <p>The new <strong>2014/15 E@gles membership</strong> is available to fans from all over the world and will deliver direct to you exclusive <strong>player interviews</strong>, <strong>Club promotions, unseen video content, manager reviews</strong> and even a <strong>custom news alert</strong> so that you can stay fully up to date with what’s going on with the team.</p>
            
                 </div>

                <div class="articles-shorts">
                    <div class="header-contain">
                         <h1 class="heading header-left header-right">Member Benefits</h1>
                         <hr />
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-push-6">
                            <img src="../assets/images/article-video.jpg" alt="" class="img-responsive" />
                        </div>
                        <div class="col-sm-6 col-sm-pull-6">
                            <h2>Exclusive video content</h2>
                            <p>All E@gles members will have <a href="#">access to exclusive video content</a>, at the click of a button you will be able to <a href="#">see behind the scenes footage</a> and <a href="#">never before seen content</a>.</p>
                        </div>
                        
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <img src="../assets/images/article-interview.jpg" alt="" class="img-responsive" />
                        </div>
                        <div class="col-sm-6">
                            <h2>Exclusive interviews</h2>
                            <p>All E@gles members will have <a href="#">access to exclusive video content</a>, at the click of a button you will be able to <a href="#">see behind the scenes footage</a> and <a href="#">never before seen content</a>.</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 col-sm-push-6">
                            <img src="../assets/images/article-reviews.jpg" alt="" class="img-responsive" />
                        </div>
                        <div class="col-sm-6 col-sm-pull-6">
                            <h2>Monthly Manager Reviews</h2>
                            <p>All E@gles members will have <a href="#">access to exclusive video content</a>, at the click of a button you will be able to <a href="#">see behind the scenes footage</a> and <a href="#">never before seen content</a>.</p>
                        </div>
                       
                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="footer-article">
                                <img src="../assets/images/e-cert.jpg" alt="" class="img-responsive" />
                                <h3>E-certificate Membership</h3>
                                <p>All E@gles members will have <a href="#">access to exclusive video content</a>, at the click of a button you will be able to <a href="#">see behind the scenes footage</a> and <a href="#">never before seen content</a>.</p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                             <div class="footer-article">
                                <img src="../assets/images/club-offers.jpg" alt="" class="img-responsive" />
                                <h3>Regular Club Offers</h3>
                                <p>All E@gles members will have <a href="#">access to exclusive video content</a>, at the click of a button you will be able to <a href="#">see behind the scenes footage</a> and <a href="#">never before seen content</a>.</p>
                            </div>
                        </div>
                         <div class="col-sm-4">
                             <div class="footer-article">
                                <img src="../assets/images/news-alerts.jpg" alt="" class="img-responsive" />
                                <h3>Custom News Alert</h3>
                                <p>All E@gles members will have <a href="#">access to exclusive video content</a>, at the click of a button you will be able to <a href="#">see behind the scenes footage</a> and <a href="#">never before seen content</a>.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section> -->



   <!-- 
                    <h1 class="heading header-right"><span>My Details</span></h1>
                    <div class="border-top-panel">
                         <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore eritatis et quasi.</p>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore eritatis et quasi.</p>
                    </div>


                    <div class="header-contain form">
                         <h1 class="heading header-left header-right">A panel intro</h1>
                    </div>
                     <div class="border-panel">
                       
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore eritatis et quasi.</p>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore eritatis et quasi.</p>
                    </div>



                    <div class="panel-intro">
                        <h1>A panel intro</h1>

                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore eritatis et quasi.</p>
                    </div>

                    <h2>Heading 2</h2>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore eritatis et quasi.</p>

                    <div class="row">
                        <div class="col-sm-6">
                            <h3>Heading 3</h3>
                            <p>Sed ut perspiciatis <a href="#">unde omnis</a> iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore eritatis et quasi.</p>
                            <p>Sed ut perspiciatis unde omnis iste <a href="#">natus error sit</a> voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore eritatis et quasi.</p>

                            <h4>Heading 4</h4>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore eritatis et quasi.</p>

                            <h5>Heading 5</h5>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore eritatis et quasi.</p>

                        </div>

                        <div class="col-md-6">
                            <h3>Heading 3</h3>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore eritatis et quasi.</p>


                            <ul>
                                <li>Pellentesque dictum, quam id tempus tincidunt.</li>
                                <li>Dapibus enim nunc in nisl. Curabitur.</li>
                                <li>Commodo. Cum sociis natoque penatibus.</li>
                            </ul>

                            <a href="#" class="btn">Find out more</a>
                        </div>
                    </div>

            </section>

            <section class="fullwidth bg-grey grid">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="item">
                                <a href="#"><img src="../assets/images/placeholders/content.jpg" alt="Alt text" class="img-responsive"></a>

                                <h3>Heading 3</h3>
                                <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum. </p>

                                <hr>

                                <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum. </p>

                                <a class="btn" href="#">More</a>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="item">
                                <a href="#" class="overlay-wrap">
                                    <h4 class="overlay">Overlay text</h4>
                                    <img src="../assets/images/placeholders/content.jpg" alt="Alt text" class="img-responsive">
                                </a>

                                <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum. </p>

                                <hr>

                                <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum. </p>

                                <a class="btn" href="#">More</a>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="item">
                                <a href="#" class="overlay-wrap">
                                    <h4 class="overlay">Overlay text</h4>
                                    <img src="../assets/images/placeholders/content.jpg" alt="Alt text" class="img-responsive">
                                </a>

                                <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum. </p>

                                <hr>

                                <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum. </p>

                                <a class="btn" href="#">More</a>
                            </div>
                        </div>
                    </div>
            </section>
 -->

    <!-- Grid Examples -->  
            <!-- <section class="fullwidth">

                    <h3>Three equal columns</h3>

                    <div class="row">
                        <div class="col-md-4">.col-md-4</div>
                        <div class="col-md-4">.col-md-4</div>
                        <div class="col-md-4">.col-md-4</div> 
                    </div>           

                    <h3>Three unequal columns</h3>
                    <p>Get three columns <strong>starting at desktops and scaling to large desktops</strong> of various widths. Remember, grid columns should add up to twelve for a single horizontal block. More than that, and columns start stacking no matter the viewport.</p>
                    <div class="row">
                        <div class="col-md-3">.col-md-3</div>
                        <div class="col-md-6">.col-md-6</div>
                        <div class="col-md-3">.col-md-3</div>
                    </div>

                    <h3>Two columns</h3>
                    <p>Get two columns <strong>starting at desktops and scaling to large desktops</strong>.</p>
                    <div class="row">
                    <div class="col-md-8">.col-md-8</div>
                    <div class="col-md-4">.col-md-4</div>
                    </div>

                    <h3>Full width, single column</h3>
                    <p class="text-warning">No grid classes are necessary for full-width elements.</p>

                    <hr>

                    <h3>Two columns with two nested columns</h3>
                    <p>Per the documentation, nesting is easy&mdash;just put a row of columns within an existing column. This gives you two columns <strong>starting at desktops and scaling to large desktops</strong>, with another two (equal widths) within the larger column.</p>
                    <p>At mobile device sizes, tablets and down, these columns and their nested columns will stack.</p>
                    <div class="row">
                        <div class="col-md-8">
                        .col-md-8
                            <div class="row">
                                <div class="col-md-6">.col-md-6</div>
                                <div class="col-md-6">.col-md-6</div>
                            </div>
                        </div>
                        <div class="col-md-4">.col-md-4</div>
                    </div>

                    <hr>

                    <h3>Mixed: mobile and desktop</h3>
                    <p>The Bootstrap 3 grid system has four tiers of classes: xs (phones), sm (tablets), md (desktops), and lg (larger desktops). You can use nearly any combination of these classes to create more dynamic and flexible layouts.</p>
                    <p>Each tier of classes scales up, meaning if you plan on setting the same widths for xs and sm, you only need to specify xs.</p>
                    <div class="row">
                        <div class="col-xs-12 col-md-8">.col-xs-12 .col-md-8</div>
                        <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
                        <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
                        <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6">.col-xs-6</div>
                        <div class="col-xs-6">.col-xs-6</div>
                    </div>

                    <hr>

                    <h3>Mixed: mobile, tablet, and desktop</h3>
                    <p></p>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-lg-8">.col-xs-12 .col-sm-6 .col-lg-8</div>
                        <div class="col-xs-6 col-lg-4">.col-xs-6 .col-lg-4</div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6 col-sm-4">.col-xs-6 .col-sm-4</div>
                        <div class="col-xs-6 col-sm-4">.col-xs-6 .col-sm-4</div>
                        <div class="col-xs-6 col-sm-4">.col-xs-6 .col-sm-4</div>
                    </div>

                    <hr>

                    <h3>Column clearing</h3>
                    <p><a href="http://getbootstrap.com/css/#grid-responsive-resets">Clear floats</a> at specific breakpoints to prevent awkward wrapping with uneven content.</p>
                    <div class="row">
                        <div class="col-xs-6 col-sm-3">
                        .col-xs-6 .col-sm-3
                        <br>
                        Resize your viewport or check it out on your phone for an example.
                        </div>

                        <div class="col-xs-6 col-sm-3">.col-xs-6 .col-sm-3</div>

                        Add the extra clearfix for only the required viewport 
                        <div class="clearfix visible-xs"></div>

                        <div class="col-xs-6 col-sm-3">.col-xs-6 .col-sm-3</div>
                        <div class="col-xs-6 col-sm-3">.col-xs-6 .col-sm-3</div>
                    </div>

                    <hr>

                    <h3>Offset, push, and pull resets</h3>
                    <p>Reset offsets, pushes, and pulls at specific breakpoints.</p>
                    <div class="row">
                        <div class="col-sm-5 col-md-6">.col-sm-5 .col-md-6</div>
                        <div class="col-sm-5 col-sm-offset-2 col-md-6 col-md-offset-0">.col-sm-5 .col-sm-offset-2 .col-md-6 .col-md-offset-0</div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 col-md-5 col-lg-6">.col-sm-6 .col-md-5 .col-lg-6</div>
                        <div class="col-sm-6 col-md-5 col-md-offset-2 col-lg-6 col-lg-offset-0">.col-sm-6 .col-md-5 .col-md-offset-2 .col-lg-6 .col-lg-offset-0</div>
                    </div>
            </section> -->

        </div>


<!-- Footer -->   
        <footer class="fullwidth-sm footer">
            <div class="container">
                <div class="row">
   
                    <ul class="nav nav-inline nav-footer">
                        <li><a href="">Crystal Palace FC</a></li>
                        <li><a href="#">Terms &amp; Conditions</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                    <span>&copy; Crystal Palace FC 2015 </span>
                </div>
            </div>
        </footer>

    </div> <!-- end sb-site -->


      <!-- Mobile slidebar content -->
    <div class="sb-slidebar sb-width-thin sb-right bg-brand visible-xs">
        <div class="close sb-toggle-right">
            <i class="icon-cancel-1"></i>
        </div>

        <nav class="nav">
            <ul>
                <li><a href="index.html" class="active">Crystal Palace FC</a></li>
                <li><a href="about.html">Memberships</a></li>
                <li><a href="news.html">Club Shop</a></li>
                <li><a href="events.html">Online Tickets</a></li>
            </ul>
            <ul class="login">
                <li><a href="">Oliver Morrison</a></li>
                <li><a href="">My Details</a></li>
                <li><a href="">Logout</a></li>
            </ul>
        </nav>

    </div>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../bower_components/jquery/dist/jquery.min.js"><\/script>')</script>

    <!-- build:js assets/scripts/plugins.js -->   
    <script src="../bower_components/jquery-cycle2/build/jquery.cycle2.min.js"></script>
    <script src="../bower_components/jquery-cycle2/build/plugin/jquery.cycle2.swipe.min.js"></script>
    <script src="../bower_components/SimpleStateManager/dist/ssm.min.js"></script>

    <script src="../bower_components/respond/dest/respond.min.js"></script> 

    <script src="../assets/scripts/cookies.min.js"></script>
    <!-- endbuild -->

    <script src="../assets/scripts/slidebars.min.js"></script>
    <script src="../assets/scripts/jquery.colorbox-min.js"></script>
    <script src="../assets/scripts/dropdown.js"></script>
    
    <script src="../assets/scripts/bootstrapValidator.min.js"></script>

    <script src="../assets/scripts/plugins.js"></script>
    <script src="../assets/scripts/main.js"></script>

    </body>
</html>