<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Crystal Palace FC - E@gle Membership</title>
    <meta name="description" content="">

    <link rel="apple-touch-icon" href="../assets/images/favicon_iphone.png">
    <link rel="shortcut icon" href="../assets/images/favicon.ico">

    <link rel="stylesheet" href="../style.css">
    <!--[if lte IE 8]><link rel="stylesheet" href="../assets/styles/ie.css" /><![endif]-->
    <script src="../bower_components/modernizr/modernizr.js"></script>
</head>    

<body class="bg-gradient">

    <div id="sb-site">

        <!-- Main Nav -->
        <section class="fullwidth-np cookie" id="cookie-wrapper">
            <div class="container">
                Sed ut perspiciatis unde omnis iste natus error sit aperiam, eaque ipsa quae ab illo inventore eritatis et quasi. <a href="#">View Cookie Policy</a> 
                <a href="?" class="close">&times;</a>
            </div>
        </section>

        <header class="header logged-in">

            <div class="container">
                <a href="/" class="logo"><img src="../assets/images/logo.png" alt="Crystal Palace"></a>

                <nav class="login hidden-xs">
                    <ul>
                        <li class="login-name dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown"><a href="">Olly <i class="icon-down-dir"></i></a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                <li><a href="">My Details</a></li>
                            </ul>
                        </li>
                        <li class="logout"><a href="">Logout</a></li>
                    </ul>
                </nav>   

                <div class="burger sb-toggle-right visible-xs">
                    <i class="icon-menu"></i>
                </div>             
            </div>

            <nav class="nav nav-primary full-width">
                <div class="container">
                    <ul>
                        <li><a href="index.html" class="active">Crystal Palace FC</a></li>
                        <li><a href="about.html">Memberships</a></li>
                        <li><a href="news.html">Club Shop</a></li>
                        <li><a href="events.html">Online Tickets</a></li>
                    </ul>
                </div>
            </nav>

        </header> 

         <!-- 404 -->        
                <section class="fullwidth standard-text">
                 <div class="container">
            
                    <h1 class="h2">Privacy / Cookie Policy</h1>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, sunt provident nam voluptate asperiores quas qui placeat suscipit corporis reiciendis. Excepturi magni voluptatum vel. Fuga, reiciendis qui repellat nihil nisi ipsa a porro nemo dolore repellendus voluptates inventore culpa provident eum adipisci dolorem quae libero molestiae sint optio at aspernatur?</p>

                    <h2 class="h3">Heading</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, dolorem explicabo eveniet incidunt minima tempore ea esse temporibus consectetur vitae cum quae quaerat officiis quia nulla illo iusto fugiat voluptates quo ducimus. Quos, nostrum provident porro culpa non odio amet dolores distinctio possimus. Impedit, vero unde at sequi esse quas vitae?</p>
                    
                    <ol>
                        <li>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, in qui esse officiis corrupti enim similique adipisci reprehenderit dicta ipsam.</p>
                        </li>
                        <li>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, in qui esse officiis corrupti enim similique adipisci reprehenderit dicta ipsam.</p>
                        </li>
                        <li>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, in qui esse officiis corrupti enim similique adipisci reprehenderit dicta ipsam.</p>
                            <ul>
                                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, laudantium expedita exercitationem natus totam aperiam. Facilis, repellendus temporibus odio labore dolor. Doloremque ut voluptatem saepe.</li>
                                <li>Commodi, quo, iste sint quae similique suscipit quod reiciendis obcaecati quia delectus omnis fuga sunt beatae libero dolore numquam ab consequuntur dicta nostrum laudantium corporis.</li>
                            </ul>
                        </li>
                    </ol>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, debitis, id, voluptate error assumenda soluta doloremque quasi cupiditate qui ipsa accusantium saepe! Pariatur, vitae ipsa quisquam dolorem commodi laborum dolore obcaecati doloremque animi fuga. Culpa, quasi, harum, ipsum pariatur eaque sunt nisi temporibus earum iure odit obcaecati voluptas tempore illo alias soluta iste dolore repellat sequi veniam ipsa! Quam, pariatur.</p>
                    <p>Rerum, pariatur eos ipsum odit quia sed optio non numquam expedita veritatis aliquid cumque vel placeat? Officia, soluta, accusamus, dolorem, nisi recusandae voluptatibus culpa magnam assumenda quisquam quod adipisci consectetur molestias velit laborum quibusdam quae delectus. Suscipit, reprehenderit adipisci temporibus dignissimos magni necessitatibus cupiditate tempora dolore magnam consectetur. Magnam, tempore minima veritatis officiis nihil dolor est. Quia, quod maxime voluptatum.</p>
                    <p>Velit, maiores, hic quo quidem error cumque nihil quod suscipit odit tempora unde quia repudiandae placeat. Aperiam, nisi, modi, eos laborum fugiat vitae excepturi at tempora possimus explicabo repudiandae ea ipsa accusamus atque velit praesentium est ratione commodi neque fugit fuga vero dignissimos quaerat saepe laboriosam error ut. Sunt, modi aliquid error te.</p>
            </div>
        </section>

        <section class="full-width bg-grey footer-logos">
            <div class="container"> 
                <ul>
                    <li><a href=""><img src="../assets/images/neteller.png" class="img-responsive" alt=""></a></li>
                    <li><a href=""><img src="../assets/images/macron.png" class="img-responsive" alt=""></a></li>
                    <li><a href=""><img src="../assets/images/barclays.png" class="img-responsive" alt=""></a></li>
                </ul>
            </div>
        </section>

        <!-- Footer -->   
        <footer class="fullwidth-sm footer">
            <div class="container">
                <div class="row">
                    <nav class="nav nav-inline nav-footer">
                        <li>Crystal Palace FC</li>
                        <li><a href="#">Terms &amp; Conditions</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </nav>
                    <p>&copy; Crystal Palace FC 2015 </p>
                </div>
            </div>
        </footer>

    </div> <!-- end sb-site -->


      <!-- Mobile slidebar content -->
    <div class="sb-slidebar sb-width-thin sb-right bg-brand visible-xs">
        <div class="close sb-toggle-right">
            <i class="icon-cancel-1"></i>
        </div>

        <nav class="nav">
            <ul>
                <li><a href="index.html" class="active">Crystal Palace FC</a></li>
                <li><a href="about.html">Memberships</a></li>
                <li><a href="news.html">Club Shop</a></li>
                <li><a href="events.html">Online Tickets</a></li>
            </ul>
            <ul class="login">
                <li><a href="">Oliver Morrison</a></li>
                <li><a href="">My Details</a></li>
                <li><a href="">Logout</a></li>
            </ul>
        </nav>

    </div>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../bower_components/jquery/dist/jquery.min.js"><\/script>')</script>

    <!-- build:js assets/scripts/plugins.js -->   
    <script src="../bower_components/jquery-cycle2/build/jquery.cycle2.min.js"></script>
    <script src="../bower_components/jquery-cycle2/build/plugin/jquery.cycle2.swipe.min.js"></script>
    <script src="../bower_components/SimpleStateManager/dist/ssm.min.js"></script>

    <script src="../bower_components/respond/dest/respond.min.js"></script> 

    <script src="../assets/scripts/cookies.min.js"></script>
    <!-- endbuild -->

    <script src="../assets/scripts/slidebars.min.js"></script>
    <script src="../assets/scripts/jquery.colorbox-min.js"></script>

    <script src="../assets/scripts/plugins.js"></script>
    <script src="../assets/scripts/main.js"></script>

    </body>
</html>