<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Crystal Palace FC - E@gle Membership</title>
    <meta name="description" content="">

    <link rel="apple-touch-icon" href="../assets/images/favicon_iphone.png">
    <link rel="shortcut icon" href="../assets/images/favicon.ico">

    <link rel="stylesheet" href="../style.css">
    <!--[if lte IE 8]><link rel="stylesheet" href="../assets/styles/ie.css" /><![endif]-->
    <script src="../bower_components/modernizr/modernizr.js"></script>
</head>    

<body>

    <div id="sb-site" class="bg-grey">

        <!-- Main Nav -->
        <section class="fullwidth-np cookie" id="cookie-wrapper">
            <div class="container">
                Sed ut perspiciatis unde omnis iste natus error sit aperiam, eaque ipsa quae ab illo inventore eritatis et quasi. <a href="#">View Cookie Policy</a> 
                <a href="?" class="close">&times;</a>
            </div>
        </section>

        <header class="header logged-in">

            <div class="container">
                <a href="/" class="logo"><img src="../assets/images/logo.png" alt="Crystal Palace"></a>

                <nav class="login hidden-xs">
                    <ul>
                        <li class="login-name dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown"><a href="">Olly <i class="icon-down-dir"></i></a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                <li><a href="">My Details</a></li>
                            </ul>
                        </li>
                        <li class="logout"><a href="">Logout</a></li>
                    </ul>
                </nav>   

                <div class="burger sb-toggle-right visible-xs">
                    <i class="icon-menu"></i>
                </div>             
            </div>

            <nav class="nav nav-primary full-width">
                <div class="container">
                    <ul>
                        <li><a href="index.html" class="active">Crystal Palace FC</a></li>
                        <li><a href="about.html">Memberships</a></li>
                        <li><a href="news.html">Club Shop</a></li>
                        <li><a href="events.html">Online Tickets</a></li>
                    </ul>
                </div>
            </nav>

        </header> 

        <div class="content logged-in">

            <section class="full-width form-contain">
                <div class="container"> 

                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1">

                            <div class="header-contain form">
                                 <h1 class="heading header-left header-right">Register</h1>
                            </div>
                             <div class="border-panel">

                                <span class="required">* required</span>

                                <form class="register">

                                    <fieldset>
                                        <legend>Personal Information</legend>
                                            
                                        <div class="form-block-wrap form-group">

                                            <label for="title" class="control-label">Title</label>
                                            <select class="form-control" name="title" id="title" data-bv-notempty="true" data-bv-notempty-message="You must select a title">
                                                <option>Please select</option>
                                                <option>Ms</option>
                                                <option>Miss</option>
                                                <option>Mrs</option>
                                                <option>Mr</option>
                                            </select>
                                        </div>

                                        <div class="form-block-wrap form-group">
                                            <label for="forename" class="control-label">Forename *</label>
                                            <input class="form-control" type="text" name="forename" id="forename" placeholder="Your first name" data-bv-notempty="true" data-bv-notempty-message="Forename is required and cannot be empty" />
                                        </div>
                                    
                                        <div class="form-block-wrap form-group">
                                            <label for="surname" class="control-label">Surname *</label>
                                            <input class="form-control" type="text" name="surname" id="surname" placeholder="Your surname" data-bv-notempty="true" data-bv-notempty-message="Surname is required and cannot be empty" />
                                        </div>
        
                                         <div class="form-block-wrap form-group">

                                            <label for="dob" class="control-label">Date of Birth</label>
                                            <div class="select-contain">
                                                <select class="form-control" name="dob" id="dob" data-bv-notempty="true" data-bv-notempty-message="You must select a date of birth">
                                                    <option>DD</option>
                                                    <option>01</option>
                                                    <option>02</option>
                                                    <option>03</option>
                                                </select>
                                                <select>
                                                    <option>MM</option>
                                                    <option>01</option>
                                                    <option>02</option>
                                                    <option>03</option>
                                                </select>
                                                <select>
                                                    <option>YYY</option>
                                                    <option>2000</option>
                                                    <option>1999</option>
                                                    <option>1998</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-block-wrap form-group">
                                            <label for="email" class="control-label">Email *</label>
                                            <input class="form-control" type="text" name="email" id="email" placeholder="Your email" data-bv-notempty="true" data-bv-notempty-message="The email address is required and cannot be empty" data-bv-emailaddress="true" data-bv-emailaddress-message="The email address is not valid" />
                                        </div>

                                        <div class="form-block-wrap form-group">
                                            <label for="confirm-email" class="control-label">Confirm Email *</label>
                                            <input class="form-control" type="text" name="confirm-email" id="confirm-email" placeholder="Confirm your email" data-bv-notempty="true" data-bv-notempty-message="You must confirm your email address" data-bv-emailaddress="true" data-bv-emailaddress-message="The confirmation email address is not valid" />
                                        </div>

                                </fieldset>

                                <fieldset>
                                    <legend>Security</legend>


                                    <div class="form-block-wrap form-group">
                                        
                                        <label for="password" class="control-label">Password *</label>
                                        <input class="form-control" type="password" name="password" id="password" placeholder="Your password" data-bv-notempty="true" data-bv-notempty-message="A password is required and cannot be empty" data-bv-identical="true" data-bv-identical-field="confirmPassword" data-bv-identical-message="Passwords do not match" data-bv-different="true" data-bv-different-field="username" data-bv-different-message="The password cannot be the same as username" />
                                    </div>

                                    <div class="form-block-wrap form-group">
                                        <label for="confirm-password" class="control-label">Confirm Password *</label>
                                        <input type="password" class="form-control" name="confirmPassword" data-bv-notempty="true" data-bv-notempty-message="The confirm password is required and cannot be empty"  data-bv-identical="true" data-bv-identical-field="password" data-bv-identical-message="Passwords do not match" data-bv-different="true" data-bv-different-field="username" data-bv-different-message="The password cannot be the same as username" />
                                    </div>

                                </fieldset>

                                <fieldset>
                                    <legend>Additional Information</legend>

                                        <div class="form-block-wrap form-group country">

                                            <label for="country" class="control-label">Country *</label>
                                            <select class="form-control" name="country" id="country" data-bv-notempty="true" data-bv-notempty-message="You must select a country">
                                                <option>Please select</option>
                                                <option>United Kingdom</option>
                                                <option>USA</option>
                                            </select>
                                        </div>

                                        <div class="form-block-wrap form-group">
                                            <label for="postcode" class="control-label">Postcode *</label>
                                            <input class="form-control" type="text" name="postcode" id="postcode" placeholder="Your postcode" data-bv-notempty="true" data-bv-notempty-message="Postcode is required and cannot be empty" />
                                        </div>

                                        <div class="form-block-wrap form-group">
                                            <label for="phone" class="control-label">Daytime phone</label>
                                            <input class="form-control" type="text" name="phone" id="phone" placeholder="Your daytime phone number" />
                                        </div>

                                        <div class="form-block-wrap form-group">
                                            <label for="mobile" class="control-label">Mobile phone</label>
                                            <input class="form-control" type="text" name="mobile" id="mobile" placeholder="Your mobile number" />
                                        </div>

                                        <div class="form-block-wrap form-group">
                                            <label for="address1" class="control-label">Address 1</label>
                                            <input class="form-control" type="text" name="address1" id="address1" placeholder="Please enter your address" />
                                        </div>
                                        <div class="form-block-wrap form-group">
                                            <label for="address2" class="control-label">Address 2</label>
                                            <input class="form-control" type="text" name="address2" id="address2" placeholder="Please enter your address" />
                                        </div>
                                         <div class="form-block-wrap form-group">
                                            <label for="address3" class="control-label">Address 3</label>
                                            <input class="form-control" type="text" name="address3" id="address3" placeholder="Please enter your address" />
                                        </div>
                                        <div class="form-block-wrap form-group">
                                            <label for="town" class="control-label">Town</label>
                                            <input class="form-control" type="text" name="town" id="town" placeholder="Please enter your town" />
                                        </div>
                                         <div class="form-block-wrap form-group">
                                            <label for="county" class="control-label">County</label>
                                            <input class="form-control" type="text" name="county" id="county" placeholder="Please enter your county" />
                                        </div>

                                </fieldset>

                                <fieldset class="foot">
                                    <div class="g-recaptcha" data-sitekey="6LdPmP8SAAAAAHXvGsJ9pWDYy5_HqGOledqxPn3o"></div>

                                    <div class="form-group">
                                        <input type="submit" class="btn register" value="Register">
                                    </div>
                                </fieldset>

                            </form>                        
                        
                    </div>
                </div>

            </section>

            <section class="full-width bg-grey footer-logos">
                <div class="container"> 
                    <ul>
                        <li><a href=""><img src="../assets/images/neteller.png" class="img-responsive" alt=""></a></li>
                        <li><a href=""><img src="../assets/images/macron.png" class="img-responsive" alt=""></a></li>
                        <li><a href=""><img src="../assets/images/barclays.png" class="img-responsive" alt=""></a></li>
                    </ul>
                </div>
            </section>

        </div>


<!-- Footer -->   
        <footer class="fullwidth-sm footer">
            <div class="container">
                <div class="row">
                    <nav class="nav nav-inline nav-footer">
                        <li>Crystal Palace FC</li>
                        <li><a href="#">Terms &amp; Conditions</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </nav>
                    <p>&copy; Crystal Palace FC 2015 </p>
                </div>
            </div>
        </footer>

    </div> <!-- end sb-site -->


      <!-- Mobile slidebar content -->
    <div class="sb-slidebar sb-width-thin sb-right bg-brand visible-xs">
        <div class="close sb-toggle-right">
            <i class="icon-cancel-1"></i>
        </div>

        <nav class="nav">
            <ul>
                <li><a href="index.html" class="active">Crystal Palace FC</a></li>
                <li><a href="about.html">Memberships</a></li>
                <li><a href="news.html">Club Shop</a></li>
                <li><a href="events.html">Online Tickets</a></li>
            </ul>
            <ul class="login">
                <li><a href="">Oliver Morrison</a></li>
                <li><a href="">My Details</a></li>
                <li><a href="">Logout</a></li>
            </ul>
        </nav>

    </div>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../bower_components/jquery/dist/jquery.min.js"><\/script>')</script>

    <!-- build:js assets/scripts/plugins.js -->   
    <script src="../bower_components/jquery-cycle2/build/jquery.cycle2.min.js"></script>
    <script src="../bower_components/jquery-cycle2/build/plugin/jquery.cycle2.swipe.min.js"></script>
    <script src="../bower_components/SimpleStateManager/dist/ssm.min.js"></script>

    <script src="../bower_components/respond/dest/respond.min.js"></script> 

    <script src="../assets/scripts/cookies.min.js"></script>
    <!-- endbuild -->

    <script src="../assets/scripts/slidebars.min.js"></script>
    <script src="../assets/scripts/jquery.colorbox-min.js"></script>
    <script src="../assets/scripts/bootstrapValidator.min.js"></script>


    <script src='https://www.google.com/recaptcha/api.js'></script>

    <script src="../assets/scripts/plugins.js"></script>
    <script src="../assets/scripts/main.js"></script>

    </body>
</html>