<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Crystal Palace FC - E@gle Membership</title>
    <meta name="description" content="">

    <link rel="apple-touch-icon" href="../assets/images/favicon_iphone.png">
    <link rel="shortcut icon" href="../assets/images/favicon.ico">

    <link rel="stylesheet" href="../style.css">
    <!--[if lte IE 8]><link rel="stylesheet" href="../assets/styles/ie.css" /><![endif]-->
    <script src="../bower_components/modernizr/modernizr.js"></script>
</head>

<body class="bg-gradient">

    <div id="sb-site">

        <!-- Main Nav -->
        <section class="fullwidth-np cookie" id="cookie-wrapper">
            <div class="container">
                Sed ut perspiciatis unde omnis iste natus error sit aperiam, eaque ipsa quae ab illo inventore eritatis et quasi. <a href="#">View Cookie Policy</a>
                <a href="?" class="close">&times;</a>
            </div>
        </section>

        <header class="header logged-out">
            <div class="container">
                <a href="/" class="logo"><img src="../assets/images/logo.png" alt="Crystal Palace"></a>
            </div>
        </header>



        <section class="datacapture-panel">

            <h1>Add your <span>SEE tickets</span> account</h1>

            <form class="seetickets">
                <fieldset>
                    <div class="form-block-wrap form-group">

                        <label for="accountnumber" class="control-label accessibility">Account number</label>
                        <input class="form-control" type="text" name="accountnumber" id="accountnumber" placeholder="Your account number" data-bv-notempty="true" data-bv-notempty-message="The account number is required and cannot be empty" data-bv-emailaddress="true" />

                    </div>

                    <div class="form-group">
                        <input type="submit" class="btn" value="Submit" />
                    </div>

                </fieldset>
            </form>

        </section>

        <!-- Thank you -->

       <!--  <section class="datacapture-panel">

            <h1><span>Thank you</span></h1>

            <p>Your <strong>SEE Tickets account number</strong> has now been added.</p>

        </section> -->

        <!-- Footer -->
        <footer class="fullwidth-sm footer">
            <div class="container">
                <div class="row">
                    <nav class="nav nav-inline nav-footer">
                        <li>Crystal Palace FC</li>
                        <li><a href="#">Terms &amp; Conditions</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </nav>
                    <p>&copy; Crystal Palace FC 2015 </p>
                </div>
            </div>
        </footer>

    </div> <!-- end sb-site -->


      <!-- Mobile slidebar content -->
    <div class="sb-slidebar sb-width-thin sb-right bg-brand visible-xs">
        <div class="close sb-toggle-right">
            <i class="icon-cancel-1"></i>
        </div>

        <nav class="nav">
            <ul>
                <li><a href="index.html" class="active">Crystal Palace FC</a></li>
                <li><a href="about.html">Memberships</a></li>
                <li><a href="news.html">Club Shop</a></li>
                <li><a href="events.html">Online Tickets</a></li>
            </ul>
            <ul class="login">
                <li><a href="">Oliver Morrison</a></li>
                <li><a href="">My Details</a></li>
                <li><a href="">Logout</a></li>
            </ul>
        </nav>

    </div>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../bower_components/jquery/dist/jquery.min.js"><\/script>')</script>

    <!-- build:js assets/scripts/plugins.js -->
    <script src="../bower_components/jquery-cycle2/build/jquery.cycle2.min.js"></script>
    <script src="../bower_components/jquery-cycle2/build/plugin/jquery.cycle2.swipe.min.js"></script>
    <script src="../bower_components/SimpleStateManager/dist/ssm.min.js"></script>

    <script src="../bower_components/respond/dest/respond.min.js"></script>

    <script src="../assets/scripts/cookies.min.js"></script>
    <!-- endbuild -->

    <script type='text/javascript' src="//wurfl.io/wurfl.js"></script>

    <script src="../assets/scripts/slidebars.min.js"></script>
    <script src="../assets/scripts/jquery.colorbox-min.js"></script>

    <script src="../assets/scripts/plugins.js"></script>
    <script src="../assets/scripts/main.js"></script>

    </body>
</html>