<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Crystal Palace FC - E@gle Membership</title>
    <meta name="description" content="">

    <link rel="apple-touch-icon" href="../assets/images/favicon_iphone.png">
    <link rel="shortcut icon" href="../assets/images/favicon.ico">

    <link rel="stylesheet" href="../style.css">
    <!--[if lte IE 8]><link rel="stylesheet" href="../assets/styles/ie.css" /><![endif]-->
    <script src="../bower_components/modernizr/modernizr.js"></script>
</head>    

<body class="bg-gradient">

    <div id="sb-site">

        <!-- Main Nav -->
        <section class="fullwidth-np cookie" id="cookie-wrapper">
            <div class="container">
                Sed ut perspiciatis unde omnis iste natus error sit aperiam, eaque ipsa quae ab illo inventore eritatis et quasi. <a href="#">View Cookie Policy</a> 
                <a href="?" class="close">&times;</a>
            </div>
        </section>

        <header class="header logged-in">

            <div class="container">
                <a href="/" class="logo"><img src="../assets/images/logo.png" alt="Crystal Palace"></a>

                <nav class="login hidden-xs">
                    <ul>
                        <li class="login-name dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown"><a href="">Olly <i class="icon-down-dir"></i></a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                <li><a href="">My Details</a></li>
                            </ul>
                        </li>
                        <li class="logout"><a href="">Logout</a></li>
                    </ul>
                </nav>   

                <div class="burger sb-toggle-right visible-xs">
                    <i class="icon-menu"></i>
                </div>             
            </div>

            <nav class="nav nav-primary full-width">
                <div class="container">
                    <ul>
                        <li><a href="index.html" class="active">Crystal Palace FC</a></li>
                        <li><a href="about.html">Memberships</a></li>
                        <li><a href="news.html">Club Shop</a></li>
                        <li><a href="events.html">Online Tickets</a></li>
                    </ul>
                </div>
            </nav>

        </header> 

         <!-- 404 -->        
                <section class="fullwidth standard-text">
                 <div class="container">
            
                    <h1 class="h2">Terms and Conditions</h1>
                    <h2 class="h3">Home Match Ticket Conditions of Use</h2>

                    <ol>
                        <li>Admission to the Ground
                        <ol>
                            <li>1.1 Home Match Tickets are for the use of supporters of the Club only. By applying for the Home Match Ticket and/or using the same you hereby warrant and represent that you are a supporter of the Club.</li>
                            <li>1.2 Use of the Home Match Ticket constitutes acceptance of the Terms &amp; Conditions of Entry.</li>
                            <li>1.3 A Home Match Ticket permits you to occupy at the Match the seat indicated on the Home Match Ticket or such other alternative seat of equal price as the Club may allocate to you at its reasonable discretion.</li>
                            <li>1.4 Nothing in these Conditions of Issue shall constitute or imply any entitlement to occupy the seat indicated on the Home Match Ticket in any subsequent Match or season.</li>
                            <li>1.5 Save as set out in clause 1.6 below, you shall not bring into (or use within) the Ground any equipment, which is capable of recording or transmitting (by digital or other means) any audio, visual or audio-visual material or any information or data in relation to a Match or any aspect of it. Any person acting in breach of this provision will be required to deliver up any tapes, films, disks or other recordings or data to the Football League and/or the Club and the copyright in any such recording or transmission is hereby assigned (by way of present assignment of future copyright pursuant to section 91 of the Copyright, Designs, and Patents Act 1988) to the Football League.</li>

                            <li>1.6 Mobile telephones are permitted within the Ground, provided that they are used for personal and private use only.</li>
                            <li>1.7 Save for official Club merchandise and/or other football related clothing worn in good faith, you shall not bring into, use or display within the Ground any sponsorship, promotional or marketing materials. No clothing should be worn that could in any way be seen to promote racial or any form of discrimination which could lead to offence to fellow members of the crowd.</li>
                             <li>1.8 You shall not offer or distribute (either free or for sale by any person) within the Ground any consumer article or commercial product of any nature. For the avoidance of doubt this clause shall not prevent the lawful distribution of text publications in any format which do not infringe clause 1.7 where both the content and the publication are lawful in all respects and do not in the Club’s reasonable opinion constitute a threat to public order.</li>
                             <li>1.9 The Club reserves the right to refuse admission to, or eject from, the Ground any person who fails to comply with the Terms &amp; Conditions of Entry.</li>
                        </ol>
                    </li>
                    <li>Use of Home Match Ticket
                        <ol>
                            <li>2.1 The Home Match Ticket is issued for your sole use and you shall not resell, assign or (save as set out in clause 2.3 below) transfer the Home Match Ticket or the benefit of it to any other person without the prior written consent of the Club. The reference to reselling the Home Match Ticket includes reference to offering to sell a Home Match Ticket, exposing a Home Match Ticket for sale, making a Home Match Ticket available for sale by another and advertising that a Home Match Ticket is available for purchase. For the avoidance of doubt (and by way of example only) this Home Match Ticket may not be offered as a prize in any promotion or competition or transferred, lent or sold to any third party as part of a hospitality or travel package, given to a third party who agrees to buy another good or service or used for any other commercial purpose save as expressly authorised by the FL or the Club.</li>
                            <li>2.2  The unauthorised sale or disposal of tickets is a criminal offence under section 166 of the Criminal Justice and Public Order Act 1994, as amended by the Violent Crime Reduction Act 006. The Club will inform the police when it becomes aware that tickets are being sold illegally and will press for charges to be brought against those breaking this law.</li>  
                            <li>2.3 If more than one Home Match Ticket is issued to you one Home Match Ticket must be retained by you for personal use (subject to the provisions below) and the remainder may be transferred to your Guest(s) for his/her personal use only PROVIDED THAT such transfer takes place in consideration of no payment or benefit in excess of the face value of the Home Match Ticket, and such transfer does not take place in the course of any business or for the purpose of facilitating any third party’s business. any police officer.</li>
                        </ol>
                    </li>
                </ol>
            </div>
        </section>

        <section class="full-width bg-grey footer-logos">
            <div class="container"> 
                <ul>
                    <li><a href=""><img src="../assets/images/neteller.png" class="img-responsive" alt=""></a></li>
                    <li><a href=""><img src="../assets/images/macron.png" class="img-responsive" alt=""></a></li>
                    <li><a href=""><img src="../assets/images/barclays.png" class="img-responsive" alt=""></a></li>
                </ul>
            </div>
        </section>

        <!-- Footer -->   
        <footer class="fullwidth-sm footer">
            <div class="container">
                <div class="row">
                    <nav class="nav nav-inline nav-footer">
                        <li>Crystal Palace FC</li>
                        <li><a href="#">Terms &amp; Conditions</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </nav>
                    <p>&copy; Crystal Palace FC 2015 </p>
                </div>
            </div>
        </footer>

    </div> <!-- end sb-site -->


      <!-- Mobile slidebar content -->
    <div class="sb-slidebar sb-width-thin sb-right bg-brand visible-xs">
        <div class="close sb-toggle-right">
            <i class="icon-cancel-1"></i>
        </div>

        <nav class="nav">
            <ul>
                <li><a href="index.html" class="active">Crystal Palace FC</a></li>
                <li><a href="about.html">Memberships</a></li>
                <li><a href="news.html">Club Shop</a></li>
                <li><a href="events.html">Online Tickets</a></li>
            </ul>
            <ul class="login">
                <li><a href="">Oliver Morrison</a></li>
                <li><a href="">My Details</a></li>
                <li><a href="">Logout</a></li>
            </ul>
        </nav>

    </div>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../bower_components/jquery/dist/jquery.min.js"><\/script>')</script>

    <!-- build:js assets/scripts/plugins.js -->   
    <script src="../bower_components/jquery-cycle2/build/jquery.cycle2.min.js"></script>
    <script src="../bower_components/jquery-cycle2/build/plugin/jquery.cycle2.swipe.min.js"></script>
    <script src="../bower_components/SimpleStateManager/dist/ssm.min.js"></script>

    <script src="../bower_components/respond/dest/respond.min.js"></script> 

    <script src="../assets/scripts/cookies.min.js"></script>
    <!-- endbuild -->

    <script src="../assets/scripts/slidebars.min.js"></script>
    <script src="../assets/scripts/jquery.colorbox-min.js"></script>

    <script src="../assets/scripts/plugins.js"></script>
    <script src="../assets/scripts/main.js"></script>

    </body>
</html>