<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Crystal Palace FC - E@gle Membership</title>
    <meta name="description" content="">

    <link rel="apple-touch-icon" href="../assets/images/favicon_iphone.png">
    <link rel="shortcut icon" href="../assets/images/favicon.ico">

    <link rel="stylesheet" href="../style.css">
    <!--[if lte IE 8]><link rel="stylesheet" href="../assets/styles/ie.css" /><![endif]-->
    <script src="../bower_components/modernizr/modernizr.js"></script>
</head>    

<body>

    <div id="sb-site" class="bg-grey">

        <!-- Main Nav -->
        <section class="fullwidth-np cookie" id="cookie-wrapper">
            <div class="container">
                Sed ut perspiciatis unde omnis iste natus error sit aperiam, eaque ipsa quae ab illo inventore eritatis et quasi. <a href="#">View Cookie Policy</a> 
                <a href="?" class="close">&times;</a>
            </div>
        </section>

        <header class="header logged-out">

            <div class="login-panel">
                <div class="container">
                    <form class="login">
                        <fieldset>

                            <div class="form-block-wrap form-group">
                                <label for="login-select" class="control-label">Login using:</label>
                                <select class="form-control" name="login-select" id="login-select" data-bv-notempty="true" data-bv-notempty-message="You must select one">
                                    <option>Please select</option>
                                    <option>Email &amp; Password</option>
                                    <option>Username</option>
                                    <option>Email &amp; Password</option>
                                </select>
                            </div>
                            <div class="form-block-wrap form-group">
                                <label for="forename" class="control-label">Forename *</label>
                                <input class="form-control" type="text" name="forename" id="forename" placeholder="Your first name" data-bv-notempty="true" data-bv-notempty-message="Forename is required and cannot be empty" />
                            </div>
                            <div class="form-block-wrap form-group">
                                <label for="email" class="control-label accessibility">Email *</label>
                                <input class="form-control" type="text" name="email" id="email" placeholder="Your email" data-bv-notempty="true" data-bv-notempty-message="The email address is required and cannot be empty" data-bv-emailaddress="true" data-bv-emailaddress-message="The email address is not valid" />
                                <div class="logged">
                                    <label>Keep me logged in</label>
                                    <input type="checkbox" checked />
                                </div>
                            </div>

                            <div class="form-block-wrap form-group">
                                <label for="password" class="control-label">Password *</label>
                                <input class="form-control" type="password" name="password" id="password" placeholder="Your password" data-bv-notempty="true" data-bv-notempty-message="A password is required and cannot be empty" data-bv-identical="true" data-bv-identical-field="confirmPassword" data-bv-identical-message="Passwords do not match" data-bv-different="true" data-bv-different-field="username" data-bv-different-message="The password cannot be the same as username" />
                                <span><a href="#">Forgotten your password?</a></span>
                            </div>

                            <div class="form-group">
                                <input type="submit" class="btn" value="Login" />
                            </div>
                            
                        </fieldset>
                    </form>
                    <a href="#" class="login-btn"><span>Log in</span></a>
                </div>
            </div>

       
            <div class="container">
                <a href="/" class="logo"><img src="../assets/images/logo.png" alt="Crystal Palace"></a>
            </div>
        </header>  

        <div class="content logged-in">

            <section class="full-width form-contain">
                <div class="container"> 

                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2">

                            <div class="header-contain form">
                                 <h1 class="heading header-left header-right">Verify Registration</h1>
                            </div>
                             <div class="border-panel thanks">

                                <h2>Thank you for your registration to our Digital Membership</h2>

                                <p>We have sent an email to <strong>ian@mccormackmorrison.com</strong>.</p>
                                <p>Please open your email and click on 'confirm' to verify the registration.</p>
                            </div>              
                        </div>
                    </div>
                </div>

            </section>

            <section class="full-width bg-grey footer-logos">
                <div class="container"> 
                    <ul>
                        <li><a href=""><img src="../assets/images/neteller.png" class="img-responsive" alt=""></a></li>
                        <li><a href=""><img src="../assets/images/macron.png" class="img-responsive" alt=""></a></li>
                        <li><a href=""><img src="../assets/images/barclays.png" class="img-responsive" alt=""></a></li>
                    </ul>
                </div>
            </section>

        </div>


<!-- Footer -->   
        <footer class="fullwidth-sm footer">
            <div class="container">
                <div class="row">
                    <nav class="nav nav-inline nav-footer">
                        <li>Crystal Palace FC</li>
                        <li><a href="#">Terms &amp; Conditions</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </nav>
                    <p>&copy; Crystal Palace FC 2015 </p>
                </div>
            </div>
        </footer>

    </div> <!-- end sb-site -->


      <!-- Mobile slidebar content -->
    <div class="sb-slidebar sb-width-thin sb-right bg-brand visible-xs">
        <div class="close sb-toggle-right">
            <i class="icon-cancel-1"></i>
        </div>

        <nav class="nav">
            <ul>
                <li><a href="index.html" class="active">Crystal Palace FC</a></li>
                <li><a href="about.html">Memberships</a></li>
                <li><a href="news.html">Club Shop</a></li>
                <li><a href="events.html">Online Tickets</a></li>
            </ul>
            <ul class="login">
                <li><a href="">Oliver Morrison</a></li>
                <li><a href="">My Details</a></li>
                <li><a href="">Logout</a></li>
            </ul>
        </nav>

    </div>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../bower_components/jquery/dist/jquery.min.js"><\/script>')</script>

    <!-- build:js assets/scripts/plugins.js -->   
    <script src="../bower_components/jquery-cycle2/build/jquery.cycle2.min.js"></script>
    <script src="../bower_components/jquery-cycle2/build/plugin/jquery.cycle2.swipe.min.js"></script>
    <script src="../bower_components/SimpleStateManager/dist/ssm.min.js"></script>

    <script src="../bower_components/respond/dest/respond.min.js"></script> 

    <script src="../assets/scripts/cookies.min.js"></script>
    <!-- endbuild -->

    <script src="../assets/scripts/slidebars.min.js"></script>
    <script src="../assets/scripts/jquery.colorbox-min.js"></script>

    <script src='https://www.google.com/recaptcha/api.js'></script>

    <script src="../assets/scripts/plugins.js"></script>
    <script src="../assets/scripts/main.js"></script>

    </body>
</html>