#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:visible!important;}
#cboxWrapper {max-width:none;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:hidden; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

#cboxOverlay{background:#e1e1e1;background:rgba(225,225,225,.9);}
#colorbox{outline:0; }
    #cboxContent{margin-top:40px; overflow:visible; padding: 10px;}
        .cboxIframe{background:#fff;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{background:#fff; padding:0px;overflow:hidden!important;}
        #cboxLoadingGraphic{background:url(../../images/microsites/colorbox/loading.gif) no-repeat center center;}
        #cboxLoadingOverlay{background:#fff;}
        #cboxTitle{position:absolute; top:-22px; left:0; color:#000;}
        #cboxCurrent{position:absolute; top:-22px; right:205px; text-indent:-9999px;}

        #cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {
          border:0; padding:0; margin:0; overflow:visible; 
          position:absolute; 
        }
        
        #cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active, #cboxClose:focus {outline:0;}

        #cboxClose{
          width: 40px;
          height: 55px;
          top: -17px;
          right: -35px;
          font-family: "HelveticaNeueW01-LtExt","Helvetica Neue",Helvetica,Arial,sans-serif;
          text-align: center;
          vertical-align: middle;
          color: #d71732;
          background:transparent;
          @include rem('font-size', 48px);
          font-weight: 100;
        }