.sitemap{
	padding: 0px;
	
	h2{
		font-family: $font-header-bold;
		text-transform: uppercase;
		font-size:20px;
		font-size:2rem;
		margin: 0 0 15px;

		a{
			color: #333333;
		}
	}

	> li{
		list-style: none;
		padding-bottom: 15px;
		border-bottom: 2px solid #e6e6e6;
		margin-bottom: 25px;
	}

	ul.row{
		
		padding: 0px;

		li{
			list-style: none;
			padding-bottom: 10px;
			padding-left: 35px;
			position: relative;


			&:before{
				position: absolute;
				left: 15px;
				content: '\00bb';
			}
		}
	}
}

@media screen and (min-width: $screen-md-min){
	.sitemap{
		ul.row{
			max-width: 60%;
		}
	}
}